* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

.navbar {
  height: 60px;
  /* background-color: brown; */
  display: flex;
  align-items: center;
  gap: 25px;
  border-bottom: 1px solid #555;
  padding: 0 20px;
  justify-content: space-between;
}

.nav_left_links{
    display: flex;
    align-items: center;
}

.navbar .links{
    display: flex;
    margin-left: 20px;
    gap: 20px;
    flex-wrap: wrap;
}

.navbar .links .nav_link{
    text-decoration: none;
    color: #555;
    /* font-size: 16px; */
    padding: 20px 10px;
}

.navbar .links a:hover{
    background-color: rgb(4, 170, 109);
    color: #fff;
}

.btn_con{
    margin-right: 15px;
}

.btn{
    text-decoration: none;
    padding: 10px 15px;
    background-color: rgb(4, 170, 109);
    border-radius: 25px;
    color: #fff;
}

.logo {
  height: 40px;
  width: 40px;
}

/* second nav bar */

.second_nav{
    display: flex;
    overflow-x: scroll;
    background-color: #333;
}

.second_nav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
  }

  .second_nav a:hover {
    background-color: #555;
  }

  .second_nav::-webkit-scrollbar {
    display: none;
  }

/* Section Container sidebar and content area */

  .main_con{
    display: flex;
  }

  /* sidebar code */

  .sidebar{
    height: 85vh;
    width: 18%;
    background-color: #E7E9EB;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .sidebar-header p {
    padding: 10px;
    color: #000;
    text-align: center;
    font-size: 22px;
    letter-spacing: 1px;
  }
  
  .sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    background-color: #ddd;
  }
  
  .sidebar a.active {
    background-color: #4CAF50;
  }



  /* mainContent Area */

  .main_section{
    height: 100%;
    width: 100%;
    background-color: aqua;
  }

